* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 420px;
  margin: auto;
  text-align: center;
  background-color: #bfccff;
}

.box {
  max-width: 420px;
  height: fit-content;
  min-height: 620px;
  background-color: #ffffff;
  margin-top: 50px;
  border-radius: 15px;
}

h1 {
  padding: 20px;
}

.newTask input {
  width: 250px;
  height: 34px;
  border: 1px solid #d7d8dc;
  border-radius: 10px;
  padding: 5px;
}

.newTask button {
  background-color: #4f46e5;
  width: 80px;
  height: 44px;
  color: #ffffff;
  border: none;
  border: 1px solid #4f46e5;
  border-radius: 10px;
  margin: 10px;
  transition: 0.2s;
}

.newTask button:hover {
  background-color: #ffffff;
  color: #4f46e5;
  cursor: pointer;
}

.newTask button:active {
  background-color: #4f46e5;
  color: #ffffff;
  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.filters {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.filters input {
  display: none;
}

.filters label {
  height: 23px;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  background-color: #ffffff;
  color: #4f46e5;
  border: 1px solid #4f46e5;
  border-radius: 10px;
  transition: 0.2s;
}

.filters label:hover {
  background-color: #4f46e5;
  color: #ffffff;
  cursor: pointer;
  opacity: 80%;
}

.filters label:active {
  background-color: #4f46e5;
  color: #ffffff;
  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.radio:has(input:checked) {
  background-color: #4f46e5;
  color: #ffffff;
}

.filters button {
  background-color: #4f46e5;
  width: 80px;
  height: 44px;
  color: #ffffff;
  border: none;
  border: 1px solid #4f46e5;
  border-radius: 10px;
  transition: 0.4s;
}

.filters button:hover {
  background-color: rgb(235, 35, 35);
}

.filters button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.tasks {
  max-width: 350px;
  margin: auto;
}

@media (max-width: 420px) {
  .box {
    width: 90%;
    margin: auto;
  }

  .filters {
    flex-wrap: wrap;
  }

  .active {
    max-width: 90%;
    grid-template-columns: 20px 190px 20px !important;
  }
}

.active {
  display: grid;
  grid-template-columns: 20px 275px 20px;
  height: fit-content;
  min-height: 50px;
  width: 340px;
  gap: 10px;
  background-color: #f3f4f6;
  border-radius: 10px;
  list-style: none;
  padding-left: 10px;
  align-items: center;
  text-align: left;
  margin-top: 10px;
}

ul input {
  display: none;
}

ul label {
  height: 20px;
  width: 20px;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
}

ul label:hover {
  border: 2px solid #4f46e5;
  transform: scale(1.1);
}

.checkField:has(input:checked) {
  background-color: #4f46e5;
}

ul img {
  height: 20px;
  width: 20px;
  transition: 0.2s;
}

ul img:hover {
  transform: scale(1.2);
}

ul img:active {
  transform: translateY(2px);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.checkField:has(input:checked) ~ .texti {
  text-decoration: line-through;
  opacity: 60%;
}

p {
  float: left;
  color: #9ca3af;
}

.hidden {
  display: none;
}

.hiddenP {
  display: none;
}